<%- include('includes/header') %>

<div class="container">

<h1>about</h1>
<br>
<p>API builds for a beginner are quite intimidating. There are many numerous moving parts that need to be addressed. 
    <br>
    <br>
    The API itself. There are documentations to read, how the API listens and responds to requests.
    <br>
    <br>
    Next, there is the setup on the developers side. The backend build. The front-end presentation of the data (styling, etc etc).
    <br>
    <br>
    But practice makes perfect, and we will continue to make more API apps to contine to help us develop our skills. We hope you like this app and you find it useful.

</p>


</div>

<%- include('includes/footer') %>