
<%- include('includes/header') %>


<div class="container">

    <div class="search">

        <div class="search-header"><h3>Search here:</h3><p class="alert"></p></div>
        <input type="text" id="searchUser" placeholder="Gibhub repository name...">
    </div>

    <div class="git-content"></div>


    <div class="repo-content"></div>

</div>

<%- include('includes/footer') %>