
<%- include('includes/header') %>


<div class="container">

    <div class="search">

        <div class="search-header"><h3>Search here:</h3><p class="alert"></p></div>
        <input type="text" id="searchUser" placeholder="Gibhub repository name...">
    </div>

    <div class="git-content">
    </div>
    <div class="repo-content">




    

<table >
	<tbody>
		<tr>
			<th>Repo Name</th>
			<th>Stargazers Count </th>
			<th>Watchers Count </th>
			<th>Forms Count </th>
		</tr>
            <td>One</td>
            <td>One</td>
            <td>One</td>
            <td>One</td>
        <tr>

        </tr>
		
	</tbody>
</table>

</div>

</div>

<%- include('includes/footer') %>