
<%- include('includes/header') %>


<div class="container">

    <div class="git-content">

        <h2 class="name">Name</h2>
        <h2 class="repos">Name</h2>




    </div>






    <div class="search">
        <h3>Search here:</h3>
        <input type="text" placeholder="Gibhub repository name...">
    </div>






</div>


<%- include('includes/footer') %>